src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c1c763d-7517-401e-ae25-f202b77a5dfb" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="54ecea5f-eab9-4443-bf8e-7d54dd9b7d90" basePath="/api/timezone" >
		<http:request-connection host="${api.host}"/>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="c9a5260b-e12d-4196-a785-c9958cd5b554" file="mule-app.properties" />
	<flow name="world-demo-apiFlow" doc:id="46ce0132-63f6-4156-a768-4ea5cc89b2ec" >
		<http:listener doc:name="Listener" doc:id="151b4f7b-1704-4ec0-8a7f-8489e2ddfde7" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="dc7cc0ac-6e85-42e4-b47f-2ee4e7553cf9" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
